.btn {
  position: relative;
  padding: .8rem 2rem;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: $dark;
  background-color: $light;
  text-transform: capitalize;

  &--dark {
    background-color: $dark;
    color: $light;

    &:hover {
      background-color: rgba($dark, 0.8);
    }
  }

  &--hollow {
    background-color: $light;
    border: 2px solid $dark;
    overflow: hidden;
  }

  &--gradient {
    background: linear-gradient(90deg, rgba($danger, .7), rgba($warning, .7));
    
    &:hover {
      background: linear-gradient(90deg, rgba($danger, 1), rgba($warning, 1));
    }

    &-animated {
      background-size: 200% 200%;
      animation: Gradient 5s infinite;

      &:hover,
      &:active {
        background-size: 200% 200%;
        animation: Gradient 5s infinite;
      }


      @keyframes Gradient {
        0%{
          background-position: 0% 0%;
        }
        50%{
          background-position: 100% 0%;
        }
        100%{
          background-position: 0% 0%;
        }
      }
    }
  }
}