.input-group {
  display: flex;
  flex-direction: column;
  width: 50rem;
  height: fit-content;

  .label {
    font-size: 2rem;
    text-transform: capitalize;
    transform: translateY(100%);
    transition: all .2s ease;
    letter-spacing: .3rem;
    margin: .3rem 0;
  }

  .typing {
    transform: translateY(0);
  }

  .input {
    outline: none;
    border: none;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    background-color: $dark;
    color: $light;
    letter-spacing: .3rem;
    z-index: 2;

    &::placeholder {
      text-transform: capitalize;
    }
  }
}
