.header {
  width: 100vw;
  height: 10rem;
  display: flex;
  justify-content: start;
  border-bottom: 4px solid $dark;

  &--content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      margin-left: 20px;
      font-size: 5rem;
      color: $dark;
    }

    .btn {
      margin-left: 20px;
    }

    &-tier {
      margin-left: 2rem;
      font-size: 5rem;
      font-family: $numbers-font;
    }
  }
}
